<div class="background flex xl:flex-row flex-column justify-content-center gap-8 align-items-center">
  <div class="btn-grad bg-white border-round-3xl w-20rem h-20rem flex justify-content-center align-items-center shadow-8">
    <a class="font-bold text-3xl no-underline" [href]="['chat']">Chat</a>
  </div>
  <div class="btn-grad-dash border-round-3xl w-20rem h-20rem flex justify-content-center align-items-center shadow-8">
    <a class="font-bold text-3xl no-underline" [href]="['dashboard']">Dashboard</a>
  </div>
</div>

